<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/search-member.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="dashboard-container">
        <!-- 상단 헤더 -->
        <header class="header">
            <h1>Admin Dashboard</h1>
            <div class="user-stats">
                <span>실시간 랜덤 채팅 접속 유저 수: <strong id="user-count">집계 중...</strong></span>
            </div>
        </header>

        <!-- 상단 네비게이션 -->
        <nav class="nav">
            <ul>
                <li class="dropdown">
                    <a href="#" class="nav-item">회원관리</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://api.random-chat.site/admin/dashboard/search/member">회원 검색</a></li>
                        <li><a href="http://localhost:8080/admin/dashboard/add/member">회원 추가</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="nav-item">관리자메뉴</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">회원 검색</a></li>
                        <li><a href="#">회원 추가</a></li>
                        <li><a href="#">회원 삭제</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- 메인 콘텐츠 -->
        <main class="main-content">
            <h1>회원 검색 기능입니다.</h1>
            <p>총 회원 수: <span id="totalUsersCount">집계 중...</span></p>

            <!-- 검색 기능 -->
            <div class="search-container">
                <label for="searchCriteria">검색 기준:</label>
                <select id="searchCriteria">
                    <option value="email">이메일</option>
                    <option value="nickname">닉네임</option>
                </select>
                <input type="text" id="searchInput" placeholder="검색어를 입력하세요.">
                <button id="searchButton">검색</button>
            </div>

            <div class="table-response">
                <table id="user-table">
                    <thead>
                        <tr>
                            <th>이메일</th>
                            <th>닉네임</th>
                            <th>성별</th>
                            <th>삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 유저 데이터 여기에 추가 -->
                    </tbody>
                </table>
            </div>

        </main>
    </div>

    <script th:src="@{/js/common/verificationJWT.js}"></script>
    <script th:src="@{/js/dashboard/dashboard.js}"></script>
    <script th:src="@{/js/dashboard/search-member.js}"></script>
</body>
</html>